<div nz-row [nzGutter]="[10, 10]">
  <div nz-col [nzXs]="24" [nzLg]="12">
    <nz-empty *ngIf="error$ | async"></nz-empty>
    <nz-card
      *ngIf="!(error$ | async) && data"
      [nzTitle]="'Pool statistic'"
      [nzExtra]="updateDate"
    >
      <nz-descriptions [nzColumn]="1" [nzBordered]="true" [nzSize]="'small'">
        <nz-descriptions-item nzTitle="EtcPayments Online">{{data.minersTotal}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Pool Hash Rate">{{data.hashrate | siSymbol: 'H/s' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Luck">{{((data?.stats?.roundShares || 0) / (difficulty || 1))  | percent: '1.2-2' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Epoch">{{((bestHeight || 0) / 60000) | number: '1.0-0' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="DAG Size">{{(((bestHeight || 0) / 60000) * 8192 / 1024 / 1024 + 1) | number: '1.3-3' }} GB</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="12">
    <nz-collapse *ngIf="data?.nodes" [nzBordered]="true" [nzAccordion]="true">
      <nz-collapse-panel [nzActive]="true" *ngFor="let node of data!.nodes; trackBy:tracker" [nzHeader]="(node.name | titlecase) + ' Node'">
        <nz-descriptions [nzColumn]="1" [nzBordered]="true" [nzSize]="'small'">
          <nz-descriptions-item nzTitle="Avg Block Time">{{ difficulty | siSymbol }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Blockchain Height">{{ node.height | number: '1.0-0' }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Last Beat">{{ ((node.lastBeat + '000') | moment) || '' }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Avg Block Time">{{ node.blocktime | number: '1.2-2' }} s</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Reward Block">{{ rewardBlock }}</nz-descriptions-item>
        </nz-descriptions>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
