<nz-page-header [nzBackIcon]="back">
  <ng-template #back>
    <span nz-icon [nzIconfont]="'icon-chevron-left'"></span>
  </ng-template>
  <nz-page-header-title>{{(params$ | async)?.coin}}</nz-page-header-title>
  <nz-page-header-subtitle>{{(params$ | async)?.algo}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <img
      *ngIf="(params$ | async)?.coin"
      nz-image
      [nzSrc]="'/assets/crypto-icons/' + (params$ | async)?.coin?.toLowerCase() + '.svg'"
      [nzFallback]="'/assets/no-image.png'"
      [alt]="(params$ | async)?.coin || ''"
      width="60px"
      height="60px"
    />
  </nz-page-header-extra>

  <nz-page-header-tags>

  </nz-page-header-tags>
</nz-page-header>
<div class="content">
  <nz-row [nzGutter]="[10, 10]">

  </nz-row>
</div>
