<main-layout>
  <nz-page-header [nzGhost]="true">
    <nz-page-header-title>BITCOIN MINING</nz-page-header-title>
    <nz-page-header-subtitle>
      <button nz-button [nzType]="'link'">
        <span nz-icon nzType="login" nzTheme="outline"></span>
        Login
      </button>
      <button nz-button [nzType]="'link'">
        <span nz-icon nzType="user-add" nzTheme="outline"></span>
        Register
      </button>
    </nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input nz-input placeholder="YOUR ACCOUNT">
        </nz-input-group>
        <ng-template #suffixButton>
          <button *nzSpaceItem nz-button nzSearch nzType="primary">FAST START MINING</button>
        </ng-template>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content class="header-content" *ngIf="stats">
      <div class="content">
        <div class="main">
          <nz-descriptions nzSize="small" [nzColumn]="2">
            <nz-descriptions-item nzTitle="candidatesTotal" [nzSpan]="1">{{stats.candidatesTotal}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="hashrate" [nzSpan]="1">{{stats.hashrate}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="immatureTotal" [nzSpan]="1">{{stats.immatureTotal}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="maturedTotal" [nzSpan]="1">{{stats.maturedTotal}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="minersTotal" [nzSpan]="2">{{stats.minersTotal}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="now" [nzSpan]="2">{{stats.now | date: 'yyyy-mm-dd HH:mm:ss'}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
            <nz-statistic nzTitle="roundShares" [nzValue]="stats.stats.roundShares"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-statistic nzTitle="nShares" [nzValue]="stats.stats.nShares"></nz-statistic>
          </nz-col>
        </nz-row>
        <nz-collapse nzAccordion>
          <nz-collapse-panel *ngFor="let node of stats.nodes" [nzHeader]="node.name">
            <nz-row [nzGutter]="16">
              <nz-col [nzSpan]="8">
                <nz-statistic nzTitle="lastBeat" [nzValue]="node.lastBeat"></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="8">
                <nz-statistic nzTitle="difficulty" [nzValue]="node.difficulty"></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="8">
                <nz-statistic nzTitle="height" [nzValue]="node.height"></nz-statistic>
              </nz-col>
            </nz-row>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </nz-page-header-content>
    <nz-page-header-footer>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.','statistic']">
            Statistic
          </a>
        </nz-tab>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.','info']">
            Info
          </a>
        </nz-tab>
      </nz-tabset>
      <router-outlet></router-outlet>
    </nz-page-header-footer>
  </nz-page-header>
</main-layout>
