<main-layout>
  <nz-page-header [nzGhost]="true">
    <nz-page-header-title>BITCOIN MINING</nz-page-header-title>
    <nz-page-header-subtitle>
      <button nz-button [nzType]="'link'">
        <span nz-icon nzType="login" nzTheme="outline"></span>
        Login
      </button>
      <button nz-button [nzType]="'link'">
        <span nz-icon nzType="user-add" nzTheme="outline"></span>
        Register
      </button>
    </nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input nz-input placeholder="YOUR ACCOUNT">
        </nz-input-group>
        <ng-template #suffixButton>
          <button *nzSpaceItem nz-button nzSearch nzType="primary">FAST START MINING</button>
        </ng-template>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div>
        <main-stats [stats]="stats$ | async"></main-stats>
      </div>
    </nz-page-header-content>
    <nz-page-header-footer>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.','statistic']">
            Statistic
          </a>
        </nz-tab>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['.','info']">
            Info
          </a>
        </nz-tab>
      </nz-tabset>
      <router-outlet></router-outlet>
    </nz-page-header-footer>
  </nz-page-header>
</main-layout>
