<div nz-row [nzGutter]="[20, 20]">
  <div nz-col [nzXs]="24">
    <ldr-pool-etc-miner [variables]="{id: userId$ | async}">
      <ng-template poolEtcMiner let-data>
        <nz-descriptions nzBordered [nzSize]="'small'" [nzColumn]="{'xs': 1, 'sm': 1, 'md': 1, 'lg': 1, 'xl': 5, 'xxl': 5}">
          <nz-descriptions-item *ngFor="let sumrewards of data.sumrewards" [nzTitle]="sumrewards.name">{{sumrewards.reward | number: '1.8-8'}}</nz-descriptions-item>
        </nz-descriptions>
      </ng-template>
    </ldr-pool-etc-miner>
  </div>
  <div nz-col [nzXs]="24">
    <ldr-pool-etc-miner [variables]="{id: userId$ | async}">
      <ng-template poolEtcMiner let-data>
        <grid
          [rowData]="data.rewards"
          [columnDefs]="columnDefs"
        ></grid>
      </ng-template>
    </ldr-pool-etc-miner>
  </div>
</div>
