<div nz-row [nzGutter]="[20, 20]">
  <div nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="8">
    <coin-history-chart [coin]="'BTC'" [algo]="'SHA-256'"></coin-history-chart>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="8">
    <coin-history-chart [coin]="'ETC'" [algo]="'Etchash'"></coin-history-chart>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="8">
    <coin-history-chart [coin]="'ETHW'" [algo]="'Ethash'"></coin-history-chart>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="8">
    <coin-history-chart [coin]="'DOGE'" [algo]="'Scrypt'"></coin-history-chart>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="8">
    <coin-history-chart [coin]="'ELA'" [algo]="'SHA-256'"></coin-history-chart>
  </div>
  <div nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="8">
    <coin-history-chart [coin]="'NMC'" [algo]="'SHA-256'"></coin-history-chart>
  </div>
  <div nz-col [nzXs]="24">
    <statistic-grid></statistic-grid>
  </div>
</div>
