<lo-pool
  [title]="'Ethereum Classic'"
  [code]="'ETC'"
>
  <pool-information></pool-information>
  <ldr-cm-metrics (change)="this.metricsData = $event"></ldr-cm-metrics>
  <nz-row  [nzGutter]="[10, 10]">
    <nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="6">
      <ldr-cm-assets-history>
        <ng-template cmAssetsHistory let-data>
          <chart [options]="data | chartOptions: [metrics.HashRate, metrics.DiffMean]: metricsData"></chart>
        </ng-template>
      </ldr-cm-assets-history>
    </nz-col>
    <nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="6">
      <ldr-cm-assets-history>
        <ng-template cmAssetsHistory let-data>
          <chart [options]="data | chartOptions: [metrics.BlkCnt, metrics.BlkSizeMeanByte]: metricsData"></chart>
        </ng-template>
      </ldr-cm-assets-history>
    </nz-col>
    <nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="6">
      <ldr-cm-assets-history>
        <ng-template cmAssetsHistory let-data>
          <chart [options]="data | chartOptions: [metrics.PriceUsd, metrics.PriceBtc]: metricsData"></chart>
        </ng-template>
      </ldr-cm-assets-history>
    </nz-col>
    <nz-col [nzXs]="24" [nzLg]="12" [nzXXl]="6">
      <ldr-cm-assets-history>
        <ng-template cmAssetsHistory let-data>
          <chart [options]="data | chartOptions: [metrics.CapMrktCurUsd, metrics.GasLmtTxMean]: metricsData"></chart>
        </ng-template>
      </ldr-cm-assets-history>
    </nz-col>
  </nz-row>
</lo-pool>
