<nz-alert *ngIf="error$ | async" nzType="error" [nzMessage]="error$ | async"></nz-alert>
<nz-row [nzGutter]="[22, 50]">
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['BTC','USD']" [nzTitle]="'BTC / USD'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['ETC','USD']" [nzTitle]="'ETC / USD'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['ETC','BTC']" [nzTitle]="'ETC / BTC'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['USD','BTC']" [nzTitle]="'USD / BTC'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['USD','ETC']" [nzTitle]="'USD / ETC'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['BTC','ETC']" [nzTitle]="'BTC / ETC'"></nz-statistic>
  </nz-col>

  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['USDT','USD']" [nzTitle]="'USDT / USD'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['BCH','USD']" [nzTitle]="'BCH / USD'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['BCH','ETC']" [nzTitle]="'BCH / ETC'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['USD','USDT']" [nzTitle]="'USD / USDT'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['USD','BCH']" [nzTitle]="'USD / BCH'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="8">
    <nz-statistic [nzValue]="data | getRates: ['ETC','BCH']" [nzTitle]="'ETC / BCH'"></nz-statistic>
  </nz-col>
</nz-row>
