<ldr-assets>
  <ng-template assets let-data>
    <nz-row [nzGutter]="[22, 50]">
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BTC','USD']" [nzTitle]="'BTC / USD'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['ETC','USD']" [nzTitle]="'ETC / USD'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['ETH','USD']" [nzTitle]="'ETH / USD'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['DASH','USD']" [nzTitle]="'DASH / USD'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['DOGE','USD']" [nzTitle]="'DOGE / USD'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BCH','USD']" [nzTitle]="'BCH / USD'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BTC','ETC']" [nzTitle]="'BTC / ETC'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BTC','ETH']" [nzTitle]="'BTC / ETH'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BTC','DASH']" [nzTitle]="'BTC / DASH'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BTC','DOGE']" [nzTitle]="'BTC / DOGE'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['BTC','BCH']" [nzTitle]="'BTC / BCH'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="data | getRates: ['ETC','ETH']" [nzTitle]="'ETC / ETH'"></nz-statistic>
      </nz-col>
    </nz-row>
  </ng-template>
</ldr-assets>
