<nz-skeleton [nzActive]="true" [nzLoading]="!stats" [nzTitle]="false" [nzParagraph]="{ rows: 2 }">
  <nz-row [nzGutter]="16" *ngIf="stats">
    <nz-col [nzSpan]="12">
      <nz-statistic nzTitle="roundShares" [nzValue]="stats.stats.roundShares"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-statistic nzTitle="nShares" [nzValue]="stats.stats.nShares"></nz-statistic>
    </nz-col>
  </nz-row>
</nz-skeleton>

<nz-card>
  <nz-skeleton [nzActive]="true" [nzLoading]="!stats" [nzTitle]="false" [nzParagraph]="{ rows: 3 }">
    <nz-descriptions *ngIf="stats" [nzExtra]="(stats.now | date: 'yyyy-mm-dd HH:mm:ss') || ''" nzTitle="Statistic" nzBordered nzSize="small" [nzColumn]="2">
      <nz-descriptions-item [nzTitle]="minersTotal" [nzSpan]="1">{{stats.minersTotal}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="candidatesTotal" [nzSpan]="1">{{stats.candidatesTotal}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="hashrate" [nzSpan]="1">{{stats.hashrate}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="immatureTotal" [nzSpan]="1">{{stats.immatureTotal}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="maturedTotal" [nzSpan]="1">{{stats.maturedTotal}}</nz-descriptions-item>
      <ng-template #minersTotal>
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
        <span>minersTotal</span>
      </ng-template>
    </nz-descriptions>
  </nz-skeleton>
</nz-card>

<nz-skeleton [nzActive]="true" [nzLoading]="!stats" [nzTitle]="false" [nzParagraph]="{ rows: 1 }">
  <nz-collapse nzAccordion *ngIf="stats && stats.nodes">
    <nz-collapse-panel *ngFor="let node of stats.nodes" [nzHeader]="node.name">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="8">
          <nz-statistic nzTitle="lastBeat" [nzValue]="node.lastBeat"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="8">
          <nz-statistic nzTitle="difficulty" [nzValue]="node.difficulty"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="8">
          <nz-statistic nzTitle="height" [nzValue]="node.height"></nz-statistic>
        </nz-col>
      </nz-row>
    </nz-collapse-panel>
  </nz-collapse>
</nz-skeleton>
