<nz-descriptions nzTitle="Statistic" [nzExtra]="panel" nzBordered [nzSize]="'small'" [nzColumn]="2">
  <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Billing">Prepaid</nz-descriptions-item>
  <nz-descriptions-item nzTitle="time">18:00:00</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Amount">$80.00</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Discount">$20.00</nz-descriptions-item>
</nz-descriptions>

<ng-template #panel>
  <span>{{12312312}}</span>
</ng-template>
