<nz-row [nzGutter]="[10, 10]">
  <nz-col [nzXs]="24" [nzXl]="12" [nzXXl]="8">
    <news></news>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="12" [nzXXl]="8">
    <main-rates></main-rates>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="8" [nzXXl]="8">
    <prices [asset]="assets.Btc"></prices>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="8" [nzXXl]="8">
    <prices [asset]="assets.Etc"></prices>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="8" [nzXXl]="8">
    <prices [asset]="assets.Eth"></prices>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="8" [nzXXl]="8">
    <prices [asset]="assets.Dash"></prices>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="8" [nzXXl]="8">
    <prices [asset]="assets.Doge"></prices>
  </nz-col>
  <nz-col [nzXs]="24" [nzXl]="8" [nzXXl]="8">
    <prices [asset]="assets.Bch"></prices>
  </nz-col>
  <div nz-col [nzXs]="24" [nzXXl]="8">
    <assets></assets>
  </div>
</nz-row>
