<nz-alert *ngIf="error$ | async" nzType="error" [nzMessage]="error$ | async"></nz-alert>
<nz-descriptions *ngIf="data" nzBordered [nzSize]="'small'" [nzColumn]="{'xs': 1, 'sm': 1, 'md': 3, 'lg': 3, 'xl': 3, 'xxl': 3}">
  <nz-descriptions-item nzTitle="Supply">{{data?.result?.EthSupply | siSymbol}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Staking">{{data?.result?.Eth2Staking | siSymbol}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Burnt Fees">{{data?.result?.BurntFees | siSymbol}}</nz-descriptions-item>
</nz-descriptions>
