html, body {
  min-width: 500px;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body {
  overflow-y: auto;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #6969dd #e0e0e0;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--ag-input-border-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--ag-header-background-color);
    border: 1px solid #303030;
  }
}

.ag-grid-lost-position {
  color: red;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    background: red;
    height: 100%;
  }
}

.ag-grid-win-position {
  color: green;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    background: green;
    height: 100%;
  }
}

.ag-theme-alpine-dark {
  --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 2);
}

.ant-carousel-vertical .slick-dots li {
  height: 4px;
  margin: 0 0 8px;

  &.slick-active {
    height: 18px;
    margin: 0 0 8px;
  }
}
