<div nz-row [nzGutter]="[20, 20]">
  <div nz-col [nzXs]="24">
    <ldr-pool-etc-miner [variables]="{id: userId$ | async}">
      <ng-template poolEtcMiner let-data>
        <chart [options]="data | payoutChart"></chart>
      </ng-template>
    </ldr-pool-etc-miner>
  </div>
  <div nz-col [nzXs]="24">
    <ldr-pool-etc-miner [variables]="{id: userId$ | async}">
      <ng-template poolEtcMiner let-data>
        <grid
          [rowData]="data.payments"
          [columnDefs]="columnDefs"
        ></grid>
      </ng-template>
    </ldr-pool-etc-miner>
  </div>
</div>
